a {
    cursor: pointer;
}

.app-container {
    min-height: 350px;
}
.disabled {
    opacity: 0.5;
}
.disabled:after {
    width: 100%;
    height: 100%;
    position: absolute; 
}
body {
    background-color: #8aa37c;
}
.w300 {
    width: 300px;
    margin: 15px;
  }
ul li {
    margin-left: 30px;
    padding-left: 10px;
    list-style-type: circle;
}
ol li {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    list-style-type: decimal;
}
  