a {
    cursor: pointer;
}

.app-container {
    min-height: 350px;
}
.disabled {
    opacity: 0.5;
}
.disabled:after {
    width: 100%;
    height: 100%;
    position: absolute; 
}
body {
    background-color: #8aa37c;
}