@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h2 {
    @apply text-2xl;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h3 {
    @apply text-xl;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h4 {
    @apply text-lg;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h5 {
    @apply text-base;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h6 {
    @apply text-sm;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}